node-red/.flows.json.backup
[
    {
        "id": "flow.traffic-dashboard",
        "type": "tab",
        "label": "Traffic Light Dashboard",
        "disabled": false,
        "info": "Traffic Light MQTT Control Dashboard - SPEC.md compliant\nBase topic: city/demo/intersection/001"
    },
    {
        "id": "mqtt-broker.local",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-dashboard",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "credentials": {
            "user": "demo",
            "password": "demo_pass"
        }
    },
    {
        "id": "ui-tab.main",
        "type": "ui_tab",
        "name": "Traffic Control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "comment.header",
        "type": "comment",
        "z": "flow.traffic-dashboard",
        "name": "\ud83d\udea6 Traffic Light Dashboard \u2014 SPEC.md Compliant",
        "info": "Base: city/demo/intersection/001\nTopics: cmd/ack/state/status/telemetry",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "mqtt.cmd.out",
        "type": "mqtt out",
        "z": "flow.traffic-dashboard",
        "name": "\u2192 cmd (QoS1)",
        "topic": "city/demo/intersection/001/cmd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker.local",
        "x": 590,
        "y": 175,
        "wires": []
    },
    {
        "id": "debug.cmd",
        "type": "debug",
        "z": "flow.traffic-dashboard",
        "name": "CMD Sent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 225,
        "wires": []
    },
    {
        "id": "mqtt.state.in",
        "type": "mqtt in",
        "z": "flow.traffic-dashboard",
        "name": "\u2190 state (QoS0)",
        "topic": "city/demo/intersection/001/state",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker.local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "func.parse-state"
            ]
        ]
    },
    {
        "id": "func.parse-state",
        "type": "function",
        "z": "flow.traffic-dashboard",
        "name": "Parse State -> Dashboard",
        "func": "const data = msg.payload || {};\nconst phaseNames = ['NS_GREEN','NS_YELLOW','ALL_RED','EW_GREEN','EW_YELLOW','ALL_RED'];\nconst phaseIndex = (data.phase !== undefined && data.phase !== null) ? Number(data.phase) : null;\nconst out = {\n    mode: data.mode || 'UNKNOWN',\n    phase: phaseIndex,\n    phase_name: (phaseIndex !== null ? (phaseNames[phaseIndex] || 'UNKNOWN') : 'UNKNOWN'),\n    uptime_s: (data.uptime_s !== undefined ? data.uptime_s : null),\n    since_ms: (data.since_ms !== undefined ? data.since_ms : null),\n    ts_ms: (data.ts_ms !== undefined ? data.ts_ms : null)\n};\nreturn [{ topic: 'state', payload: out }, { payload: data }];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 400,
        "wires": [
            [
                "func.dashboard-store"
            ],
            [
                "func.intersection-svg"
            ]
        ]
    },
    {
        "id": "mqtt.status.in",
        "type": "mqtt in",
        "z": "flow.traffic-dashboard",
        "name": "\u2190 status (QoS1 retained)",
        "topic": "city/demo/intersection/001/status",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker.local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "func.parse-status"
            ]
        ]
    },
    {
        "id": "func.parse-status",
        "type": "function",
        "z": "flow.traffic-dashboard",
        "name": "Parse Status -> Dashboard",
        "func": "const data = msg.payload || {};\nmsg.topic = 'status';\nmsg.payload = {\n    online: !!data.online,\n    ts_ms: (data.ts_ms !== undefined ? data.ts_ms : null)\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 340,
        "wires": [
            [
                "func.dashboard-store"
            ]
        ]
    },
    {
        "id": "mqtt.telemetry.in",
        "type": "mqtt in",
        "z": "flow.traffic-dashboard",
        "name": "\u2190 telemetry (QoS0)",
        "topic": "city/demo/intersection/001/telemetry",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker.local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 500,
        "wires": [
            [
                "func.parse-telemetry"
            ]
        ]
    },
    {
        "id": "func.parse-telemetry",
        "type": "function",
        "z": "flow.traffic-dashboard",
        "name": "Parse Telemetry -> Dashboard",
        "func": "\nconst d = msg.payload || {};\nconst out = {\n    rssi_dbm: (d.rssi_dbm !== undefined ? d.rssi_dbm : null),\n    heap_free_kb: (d.heap_free_kb !== undefined ? d.heap_free_kb : null),\n    uptime_s: (d.uptime_s !== undefined ? d.uptime_s : null),\n    ts_ms: (d.ts_ms !== undefined ? d.ts_ms : null)\n};\nreturn [\n    { topic: 'telemetry', payload: out },\n    (out.rssi_dbm !== null) ? { payload: out.rssi_dbm, topic: 'RSSI' } : null,\n    (out.heap_free_kb !== null) ? { payload: out.heap_free_kb, topic: 'Heap' } : null\n];\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "func.dashboard-store"
            ],
            [
                "ui_chart.rssi"
            ],
            [
                "ui_chart.heap"
            ]
        ]
    },
    {
        "id": "mqtt.ack.in",
        "type": "mqtt in",
        "z": "flow.traffic-dashboard",
        "name": "\u2190 ack (QoS1)",
        "topic": "city/demo/intersection/001/ack",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker.local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 600,
        "wires": [
            [
                "func.ack-log"
            ]
        ]
    },
    {
        "id": "func.ack-log",
        "type": "function",
        "z": "flow.traffic-dashboard",
        "name": "ACK Log -> Dashboard",
        "func": "\nlet log = flow.get('ack_log') || [];\nlet pending = flow.get('pending_cmds') || {};\nconst d = msg.payload || {};\nconst id = d.cmd_id;\nconst now = Date.now();\nlet rtt = null;\n\nif (id && pending[id]) {\n    rtt = now - pending[id];\n    delete pending[id];\n    flow.set('pending_cmds', pending);\n}\n\nlog.unshift({\n    t: new Date().toLocaleTimeString(),\n    id: (id || '').substring(0, 8),\n    type: d.type || 'ACK',\n    ok: !!d.ok,\n    err: d.err || '',\n    rtt: rtt\n});\nif (log.length > 20) log.pop();\nflow.set('ack_log', log);\n\nreturn [\n    { topic: 'ack_log', payload: log },\n    (rtt !== null) ? { payload: rtt, topic: 'RTT' } : null\n];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 600,
        "wires": [
            [
                "func.dashboard-store"
            ],
            [
                "ui_chart.rtt"
            ]
        ]
    },
    {
        "id": "func.intersection-svg",
        "type": "function",
        "z": "flow.traffic-dashboard",
        "name": "Build Intersection SVG",
        "func": "const phase = msg.payload.phase;\n// 0:NS_GREEN 1:NS_YELLOW 2:ALL_RED 3:EW_GREEN 4:EW_YELLOW 5:ALL_RED\nconst DIM = { r: '#3a1e1e', y: '#3a321e', g: '#1e3a2e' };\nconst BRIGHT = { r: '#ff2222', y: '#ffbf00', g: '#00ff44' };\n\nconst P = {\n    NS: { r: DIM.r, y: DIM.y, g: DIM.g },\n    EW: { r: DIM.r, y: DIM.y, g: DIM.g }\n};\n\nlet phaseColor = '#475569';\n\nswitch(phase) {\n    case 0: P.NS.g=BRIGHT.g; P.EW.r=BRIGHT.r; phaseColor='#22c55e'; break;\n    case 1: P.NS.y=BRIGHT.y; P.EW.r=BRIGHT.r; phaseColor='#eab308'; break;\n    case 2: P.NS.r=BRIGHT.r; P.EW.r=BRIGHT.r; phaseColor='#ef4444'; break;\n    case 3: P.EW.g=BRIGHT.g; P.NS.r=BRIGHT.r; phaseColor='#22c55e'; break;\n    case 4: P.EW.y=BRIGHT.y; P.NS.r=BRIGHT.r; phaseColor='#eab308'; break;\n    case 5: P.NS.r=BRIGHT.r; P.EW.r=BRIGHT.r; phaseColor='#ef4444'; break;\n    default: P.NS.r=BRIGHT.r; P.EW.r=BRIGHT.r;\n}\n\nconst phaseNames=['NS GREEN','NS YELLOW','ALL RED','EW GREEN','EW YELLOW','ALL RED'];\nconst pName = phaseNames[phase] || 'UNKNOWN';\n\nfunction drawPole(x, y, rot, lights, label) {\n    return `\n    <g transform=\"translate(${x}, ${y}) rotate(${rot})\">\n        <circle cx=\"0\" cy=\"0\" r=\"12\" fill=\"#111\" opacity=\"0.5\" />\n        <rect x=\"-6\" y=\"-10\" width=\"12\" height=\"60\" fill=\"#475569\" rx=\"4\" />\n        <rect x=\"-24\" y=\"40\" width=\"48\" height=\"110\" rx=\"12\" fill=\"#1e293b\" stroke=\"#334155\" stroke-width=\"2\" />\n        <circle cx=\"0\" cy=\"60\" r=\"14\" fill=\"${lights.r}\" filter=\"url(#glow-${lights.r === BRIGHT.r ? 'red' : 'none'})\" />\n        <circle cx=\"0\" cy=\"95\" r=\"14\" fill=\"${lights.y}\" filter=\"url(#glow-${lights.y === BRIGHT.y ? 'yellow' : 'none'})\" />\n        <circle cx=\"0\" cy=\"130\" r=\"14\" fill=\"${lights.g}\" filter=\"url(#glow-${lights.g === BRIGHT.g ? 'green' : 'none'})\" />\n    </g>\n    `;\n}\n\nlet svg = `\n<svg viewBox=\"0 0 800 800\" xmlns=\"http://www.w3.org/2000/svg\" style=\"width:100%; height:100%; max-height:600px; display:block; margin:auto; background: radial-gradient(circle at 50% 50%, #1e293b 0%, #0f172a 100%); border-radius:16px; border:1px solid #334155;\">\n  <defs>\n    <filter id=\"glow-red\" height=\"300%\" width=\"300%\" x=\"-100%\" y=\"-100%\">\n      <feGaussianBlur stdDeviation=\"8\" result=\"coloredBlur\"/>\n      <feMerge><feMergeNode in=\"coloredBlur\"/><feMergeNode in=\"SourceGraphic\"/></feMerge>\n    </filter>\n    <filter id=\"glow-yellow\" height=\"300%\" width=\"300%\" x=\"-100%\" y=\"-100%\">\n      <feGaussianBlur stdDeviation=\"8\" result=\"coloredBlur\"/>\n      <feMerge><feMergeNode in=\"coloredBlur\"/><feMergeNode in=\"SourceGraphic\"/></feMerge>\n    </filter>\n    <filter id=\"glow-green\" height=\"300%\" width=\"300%\" x=\"-100%\" y=\"-100%\">\n      <feGaussianBlur stdDeviation=\"8\" result=\"coloredBlur\"/>\n      <feMerge><feMergeNode in=\"coloredBlur\"/><feMergeNode in=\"SourceGraphic\"/></feMerge>\n    </filter>\n    <filter id=\"glow-none\"><feGaussianBlur stdDeviation=\"0\"/></filter>\n  </defs>\n\n  <rect x=\"0\" y=\"0\" width=\"800\" height=\"800\" fill=\"#0f172a\" />\n  <path d=\"M 250 0 L 550 0 L 550 800 L 250 800 Z\" fill=\"#1e293b\" stroke=\"#334155\" stroke-width=\"2\"/>\n  <path d=\"M 0 250 L 800 250 L 800 550 L 0 550 Z\" fill=\"#1e293b\" stroke=\"#334155\" stroke-width=\"2\"/>\n  <rect x=\"250\" y=\"250\" width=\"300\" height=\"300\" fill=\"#1e293b\" />\n\n  <line x1=\"400\" y1=\"0\" x2=\"400\" y2=\"250\" stroke=\"#f8fafc\" stroke-width=\"4\" stroke-dasharray=\"20 30\" opacity=\"0.3\"/>\n  <line x1=\"400\" y1=\"550\" x2=\"400\" y2=\"800\" stroke=\"#f8fafc\" stroke-width=\"4\" stroke-dasharray=\"20 30\" opacity=\"0.3\"/>\n  <line x1=\"0\" y1=\"400\" x2=\"250\" y2=\"400\" stroke=\"#f8fafc\" stroke-width=\"4\" stroke-dasharray=\"20 30\" opacity=\"0.3\"/>\n  <line x1=\"550\" y1=\"400\" x2=\"800\" y2=\"400\" stroke=\"#f8fafc\" stroke-width=\"4\" stroke-dasharray=\"20 30\" opacity=\"0.3\"/>\n  \n  <rect x=\"250\" y=\"240\" width=\"150\" height=\"10\" fill=\"white\" opacity=\"0.8\" />\n  <rect x=\"400\" y=\"550\" width=\"150\" height=\"10\" fill=\"white\" opacity=\"0.8\" />\n  <rect x=\"240\" y=\"400\" width=\"10\" height=\"150\" fill=\"white\" opacity=\"0.8\" />\n  <rect x=\"550\" y=\"250\" width=\"10\" height=\"150\" fill=\"white\" opacity=\"0.8\" />\n\n  ${drawPole(220, 220, 135, P.NS, 'N')}\n  ${drawPole(580, 580, -45, P.NS, 'S')}\n  ${drawPole(220, 580, 45, P.EW, 'W')}\n  ${drawPole(580, 220, 225, P.EW, 'E')}\n\n  <g transform=\"translate(400, 400)\">\n    <circle r=\"45\" fill=\"#0f172a\" stroke=\"#334155\" stroke-width=\"4\" />\n    <circle r=\"40\" fill=\"none\" stroke=\"${phaseColor}\" stroke-width=\"2\" opacity=\"0.5\">\n        <animate attributeName=\"r\" values=\"40;55;40\" dur=\"2s\" repeatCount=\"indefinite\" />\n        <animate attributeName=\"opacity\" values=\"0.6;0;0.6\" dur=\"2s\" repeatCount=\"indefinite\" />\n    </circle>\n    <text y=\"10\" text-anchor=\"middle\" fill=\"${phaseColor}\" font-family=\"monospace\" font-size=\"28\" font-weight=\"900\" style=\"text-shadow: 0 0 10px ${phaseColor};\">${phase}</text>\n  </g>\n  \n  <text x=\"400\" y=\"760\" text-anchor=\"middle\" fill=\"#94a3b8\" font-size=\"18\" font-weight=\"600\" letter-spacing=\"3\" opacity=\"0.8\">${pName}</text>\n</svg>`;\n\nmsg.topic = 'intersection';\nmsg.payload = svg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Initial state\nconst svg = `<svg viewBox=\"0 0 320 320\" style=\"width:100%;max-width:320px;margin:auto;display:block;\">\n<rect width=\"320\" height=\"320\" fill=\"#0f141e\" rx=\"18\"/>\n<text x=\"160\" y=\"170\" text-anchor=\"middle\" fill=\"#8b96a3\" font-size=\"13\">Waiting for state...</text>\n</svg>`;\nnode.send({ topic: 'intersection', payload: svg });",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 440,
        "wires": [
            [
                "ui.tpl.map"
            ]
        ]
    },
    {
        "id": "ui-group.dashboard",
        "type": "ui_group",
        "name": "Controls & Charts",
        "tab": "ui-tab.main",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "func.dashboard-store",
        "type": "function",
        "z": "flow.traffic-dashboard",
        "name": "Dashboard Store",
        "func": "let dash = flow.get('dashboard') || {\n    status: { online: null, ts_ms: null },\n    state: { mode: null, phase: null, phase_name: null, uptime_s: null, since_ms: null, ts_ms: null },\n    telemetry: { rssi_dbm: null, heap_free_kb: null, uptime_s: null, ts_ms: null },\n    ack_log: [],\n    intersection_svg: '',\n    last_ack: null,\n    display: {}\n};\nif (msg.topic === 'status') {\n    dash.status.online = (msg.payload && msg.payload.online !== undefined) ? !!msg.payload.online : null;\n    dash.status.ts_ms = (msg.payload && msg.payload.ts_ms !== undefined) ? msg.payload.ts_ms : null;\n}\nif (msg.topic === 'state') {\n    dash.state = Object.assign(dash.state, msg.payload || {});\n}\nif (msg.topic === 'telemetry') {\n    dash.telemetry = Object.assign(dash.telemetry, msg.payload || {});\n}\nif (msg.topic === 'ack_log') {\n    dash.ack_log = Array.isArray(msg.payload) ? msg.payload : [];\n}\nif (msg.topic === 'intersection') {\n    dash.intersection_svg = msg.payload || '';\n}\ndash.last_ack = (dash.ack_log && dash.ack_log.length) ? dash.ack_log[0] : null;\nconst statusText = (dash.status.online === null) ? 'WAITING' : (dash.status.online ? 'ONLINE' : 'OFFLINE');\nconst statusClass = (dash.status.online === null) ? 'tl-pill--idle' : (dash.status.online ? 'tl-pill--ok' : 'tl-pill--bad');\nconst statusTime = dash.status.ts_ms ? new Date(dash.status.ts_ms).toLocaleTimeString() : '--';\nconst phaseText = (dash.state.phase !== null && dash.state.phase !== undefined) ? `${dash.state.phase}: ${dash.state.phase_name || 'UNKNOWN'}` : '--';\nconst uptimeText = (dash.state.uptime_s !== null && dash.state.uptime_s !== undefined) ? `${dash.state.uptime_s}s` : '--';\nconst sinceText = (dash.state.since_ms !== null && dash.state.since_ms !== undefined) ? `${dash.state.since_ms}ms` : '--';\nconst stateTime = dash.state.ts_ms ? new Date(dash.state.ts_ms).toLocaleTimeString() : '--';\nconst rssiText = (dash.telemetry.rssi_dbm !== null && dash.telemetry.rssi_dbm !== undefined) ? `${dash.telemetry.rssi_dbm} dBm` : '--';\nconst heapText = (dash.telemetry.heap_free_kb !== null && dash.telemetry.heap_free_kb !== undefined) ? `${dash.telemetry.heap_free_kb} KB` : '--';\ndash.display = {\n    status_text: statusText,\n    status_class: statusClass,\n    status_time: statusTime,\n    mode: dash.state.mode || '--',\n    phase: phaseText,\n    uptime: uptimeText,\n    since: sinceText,\n    state_time: stateTime,\n    rssi: rssiText,\n    heap: heapText\n};\nflow.set('dashboard', dash);\nmsg.payload = dash;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 360,
        "wires": [
            [
                "ui.tpl.dashboard"
            ]
        ]
    },
    {
        "id": "func.build-ui-cmd",
        "type": "function",
        "z": "flow.traffic-dashboard",
        "name": "Build UI Command",
        "func": "const data = msg.payload || {};\nlet type = data.type;\nif (!type) {\n    if (msg.topic === 'ui/set_mode') type = 'SET_MODE';\n    if (msg.topic === 'ui/set_phase') type = 'SET_PHASE';\n}\nif (type !== 'SET_MODE' && type !== 'SET_PHASE') {\n    return null;\n}\nconst uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n});\nif (type === 'SET_MODE') {\n    const mode = (data.mode || '').toString().toUpperCase() || 'AUTO';\n    msg.payload = JSON.stringify({ cmd_id: uuid, type: 'SET_MODE', mode: mode, ts_ms: Date.now() });\n}\nif (type === 'SET_PHASE') {\n    const phase = (data.phase !== undefined && data.phase !== null) ? Number(data.phase) : 0;\n    msg.payload = JSON.stringify({ cmd_id: uuid, type: 'SET_PHASE', phase: phase, ts_ms: Date.now() });\n}\nmsg.qos = 1;\nmsg.retain = false;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 170,
        "wires": [
            [
                "mqtt.cmd.out",
                "debug.cmd"
            ]
        ]
    },
    {
        "id": "ui.tpl.dashboard",
        "type": "ui_template",
        "z": "flow.traffic-dashboard",
        "group": "ui-group.dashboard",
        "name": "Traffic Dashboard UI",
        "order": 1,
        "width": "8",
        "height": "14",
        "format": "<style>\n@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Inter:wght@400;500;600;800&display=swap');\n\n.tl-ctrl-panel {\n    font-family: 'Inter', sans-serif;\n    color: #f1f5f9;\n    display: flex;\n    flex-direction: column;\n    gap: 16px;\n    height: 100%;\n}\n\n.tl-card {\n    background: #1e293b;\n    border: 1px solid #334155;\n    border-radius: 12px;\n    padding: 16px;\n    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);\n}\n\n.tl-header-row {\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    margin-bottom: 12px;\n}\n.tl-title { font-size: 14px; font-weight: 700; color: #94a3b8; text-transform: uppercase; letter-spacing: 0.5px; }\n\n/* Status Badge */\n.tl-status-badge {\n    padding: 4px 10px;\n    border-radius: 99px;\n    background: rgba(34, 197, 94, 0.1);\n    color: #22c55e;\n    font-size: 11px;\n    font-weight: 600;\n    display: flex;\n    align-items: center;\n    gap: 6px;\n}\n.tl-status-badge.offline { background: rgba(239, 68, 68, 0.1); color: #ef4444; }\n.tl-dot { width: 6px; height: 6px; border-radius: 50%; background: currentColor; box-shadow: 0 0 6px currentColor; }\n\n/* Stats Grid */\n.tl-stats-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 8px; }\n.tl-stat-box { background: #0f172a; padding: 10px; border-radius: 8px; border: 1px solid #334155; }\n.tl-stat-label { font-size: 10px; color: #94a3b8; text-transform: uppercase; display: block; margin-bottom: 4px; }\n.tl-stat-val { font-size: 14px; font-weight: 700; font-family: 'JetBrains Mono', monospace; }\n\n/* Buttons */\n.tl-btn-grid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 8px; }\n.tl-btn {\n    background: #0f172a;\n    border: 1px solid #334155;\n    color: #f1f5f9;\n    padding: 10px;\n    border-radius: 8px;\n    font-size: 12px;\n    font-weight: 600;\n    cursor: pointer;\n    transition: all 0.2s;\n    text-align: center;\n}\n.tl-btn:hover { background: #334155; border-color: #38bdf8; color: white; transform: translateY(-1px); }\n.tl-btn.active { background: #38bdf8; color: #0f172a; border-color: #38bdf8; }\n.tl-btn.green { border-color: #22c55e; color: #86efac; }\n.tl-btn.green:hover, .tl-btn.green.active { background: #22c55e; color: #0f172a; }\n.tl-btn.yellow { border-color: #eab308; color: #fde047; }\n.tl-btn.yellow:hover, .tl-btn.yellow.active { background: #eab308; color: #0f172a; }\n.tl-btn.red { border-color: #ef4444; color: #fca5a5; }\n.tl-btn.red:hover, .tl-btn.red.active { background: #ef4444; color: #0f172a; }\n\n/* Log Table */\n.tl-log-table { width: 100%; border-collapse: collapse; font-size: 11px; font-family: 'JetBrains Mono', monospace; }\n.tl-log-table th { text-align: left; color: #94a3b8; padding: 6px; border-bottom: 1px solid #334155; }\n.tl-log-table td { padding: 6px; border-bottom: 1px solid #334155; color: #cbd5e1; }\n.tag { padding: 2px 4px; border-radius: 3px; font-weight: 700; font-size: 9px; }\n.tag.ok { background: rgba(34, 197, 94, 0.2); color: #4ade80; }\n.tag.err { background: rgba(239, 68, 68, 0.2); color: #f87171; }\n</style>\n\n<div class=\"tl-ctrl-panel\">\n    <!-- Header / Status -->\n    <div class=\"tl-card\">\n        <div class=\"tl-header-row\">\n            <div class=\"tl-title\">Intersection 001</div>\n            <div class=\"tl-status-badge\" ng-class=\"{offline: !dash.status.online}\">\n                <div class=\"tl-dot\"></div>\n                {{ dash.status.online ? 'ONLINE' : 'OFF' }}\n            </div>\n        </div>\n        <div class=\"tl-stats-grid\">\n            <div class=\"tl-stat-box\">\n                <span class=\"tl-stat-label\">Mode</span>\n                <span class=\"tl-stat-val\" style=\"color: #38bdf8\">{{ dash.display.mode }}</span>\n            </div>\n            <div class=\"tl-stat-box\">\n                <span class=\"tl-stat-label\">Phase</span>\n                <span class=\"tl-stat-val\">{{ dash.display.phase }}</span>\n            </div>\n             <div class=\"tl-stat-box\">\n                <span class=\"tl-stat-label\">Uptime</span>\n                <span class=\"tl-stat-val\">{{ dash.display.uptime }}</span>\n            </div>\n            <div class=\"tl-stat-box\">\n                <span class=\"tl-stat-label\">Last Seen</span>\n                <span class=\"tl-stat-val\">{{ dash.display.status_time }}</span>\n            </div>\n        </div>\n    </div>\n\n    <!-- Controls -->\n    <div class=\"tl-card\">\n        <div class=\"tl-title\" style=\"margin-bottom:10px\">Mode Control</div>\n        <div class=\"tl-btn-grid\" style=\"margin-bottom:16px\">\n            <div class=\"tl-btn\" ng-click=\"sendMode('AUTO')\" ng-class=\"{active: dash.display.mode=='AUTO'}\">AUTO</div>\n            <div class=\"tl-btn\" ng-click=\"sendMode('MANUAL')\" ng-class=\"{active: dash.display.mode=='MANUAL'}\">MANUAL</div>\n            <div class=\"tl-btn yellow\" ng-click=\"sendMode('BLINK')\" ng-class=\"{active: dash.display.mode=='BLINK'}\">BLINK</div>\n            <div class=\"tl-btn red\" ng-click=\"sendMode('OFF')\" ng-class=\"{active: dash.display.mode=='OFF'}\">OFF</div>\n        </div>\n\n        <div class=\"tl-title\" style=\"margin-bottom:10px\">Manual Phase</div>\n        <div class=\"tl-btn-grid\" style=\"grid-template-columns: 1fr 1fr 1fr;\">\n            <div class=\"tl-btn green\" ng-click=\"sendPhase(0)\">NS Green</div>\n            <div class=\"tl-btn yellow\" ng-click=\"sendPhase(1)\">Yel</div>\n            <div class=\"tl-btn red\" ng-click=\"sendPhase(2)\">Red</div>\n            <div class=\"tl-btn green\" ng-click=\"sendPhase(3)\">EW Green</div>\n            <div class=\"tl-btn yellow\" ng-click=\"sendPhase(4)\">Yel</div>\n            <div class=\"tl-btn red\" ng-click=\"sendPhase(5)\">Red</div>\n        </div>\n    </div>\n\n    <!-- Logs -->\n    <div class=\"tl-card\" style=\"flex:1; overflow:auto; min-height:150px;\">\n        <div class=\"tl-title\" style=\"margin-bottom:8px\">Command Log</div>\n        <table class=\"tl-log-table\">\n            <thead><tr><th>Time</th><th>CMD</th><th>RTT</th></tr></thead>\n            <tbody>\n                <tr ng-repeat=\"row in dash.ack_log | limitTo:10\">\n                    <td>{{ row.t.split(' ')[0] }}</td> <!-- Simplified time -->\n                    <td><span class=\"tag\" ng-class=\"row.ok ? 'ok':'err'\">{{ row.type || 'CMD' }}</span></td>\n                    <td>{{ row.rtt ? row.rtt + 'ms' : '-' }}</td>\n                </tr>\n            </tbody>\n        </table>\n    </div>\n</div>\n\n<script>\n(function(scope) {\n  scope.dash = scope.dash || {\n    status: { online: false },\n    display: { mode: '--', phase: '--', uptime: '--', rssi: '--', heap: '--' },\n    ack_log: []\n  };\n  scope.sendMode = function(mode) { scope.send({ topic: 'ui/set_mode', payload: { mode: mode } }); };\n  scope.sendPhase = function(phase) { scope.send({ topic: 'ui/set_phase', payload: { phase: phase } }); };\n  scope.$watch('msg', function(msg) {\n    if (msg && msg.payload && !msg.topic) { // Pass-through updates\n         scope.dash = msg.payload;\n    }\n    // Handle chart data pass-through? No, chart data goes to chart nodes.\n    // This template receives the \"Dashboard Object\" from func.dashboard-store\n  });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 360,
        "wires": [
            [
                "func.build-ui-cmd"
            ]
        ]
    },
    {
        "id": "ui-group.map",
        "type": "ui_group",
        "name": "Intersection Map",
        "tab": "ui-tab.main",
        "order": 1,
        "disp": false,
        "width": "16"
    },
    {
        "id": "ui.tpl.map",
        "type": "ui_template",
        "z": "flow.traffic-dashboard",
        "group": "ui-group.map",
        "width": "16",
        "height": "20",
        "format": "<style>\n/* Map Card Container - Full Height/Width of Group */\n.tl-map-card {\n    width: 100%;\n    height: 100%;\n    min-height: 600px;\n    background: #0f172a; /* Slate 900 */\n    border-radius: 16px;\n    border: 1px solid #334155;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    position: relative;\n    overflow: hidden;\n    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);\n}\n</style>\n\n<div class=\"tl-map-card\" ng-bind-html=\"msg.payload\">\n    <!-- SVG Injected Here -->\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 600,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_chart.rtt",
        "type": "ui_chart",
        "z": "flow.traffic-dashboard",
        "name": "RTT",
        "group": "ui-group.dashboard",
        "order": 4,
        "width": "8",
        "height": "4",
        "label": "Command Latency (ms)",
        "chartType": "line",
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "5",
        "colors": [
            "#38bdf8"
        ],
        "x": 600,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_chart.rssi",
        "type": "ui_chart",
        "z": "flow.traffic-dashboard",
        "name": "RSSI",
        "group": "ui-group.dashboard",
        "order": 5,
        "width": "4",
        "height": "3",
        "label": "Signal (dBm)",
        "chartType": "line",
        "ymin": "-90",
        "ymax": "-30",
        "removeOlder": "5",
        "colors": [
            "#22c55e"
        ],
        "x": 600,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_chart.heap",
        "type": "ui_chart",
        "z": "flow.traffic-dashboard",
        "name": "Heap",
        "group": "ui-group.dashboard",
        "order": 6,
        "width": "4",
        "height": "3",
        "label": "Free Heap (KB)",
        "chartType": "line",
        "ymin": "0",
        "ymax": "300",
        "removeOlder": "5",
        "colors": [
            "#f59e0b"
        ],
        "x": 600,
        "y": 560,
        "wires": [
            []
        ]
    }
]