node-red/flows.json
[
    {
        "id": "flow.traffic-dashboard",
        "type": "tab",
        "label": "Traffic Light Dashboard",
        "disabled": false,
        "info": "Traffic Light MQTT Control Dashboard - SPEC.md compliant\nBase topic: city/demo/intersection/001"
    },
    {
        "id": "mqtt-broker.local",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-dashboard",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "comment.header",
        "type": "comment",
        "z": "flow.traffic-dashboard",
        "name": "🚦 Traffic Light Dashboard — SPEC.md Compliant",
        "info": "Base: city/demo/intersection/001\nTopics: cmd/ack/state/status/telemetry",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "mqtt.cmd.out",
        "type": "mqtt out",
        "z": "flow.traffic-dashboard",
        "name": "→ cmd (QoS1)",
        "topic": "city/demo/intersection/001/cmd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker.local",
        "x": 590,
        "y": 175,
        "wires": []
    },
    {
        "id": "debug.cmd",
        "type": "debug",
        "z": "flow.traffic-dashboard",
        "name": "CMD Sent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 225,
        "wires": []
    },
    {
        "id": "mqtt.state.in",
        "type": "mqtt in",
        "z": "flow.traffic-dashboard",
        "name": "← state (QoS0)",
        "topic": "city/demo/intersection/001/state",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker.local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "func.parse-state"
            ]
        ]
    },
    {
        "id": "func.parse-state",
        "type": "function",
        "z": "flow.traffic-dashboard",
        "name": "Parse State -> Dashboard",
        "func": "const data = msg.payload || {};\nconst phaseNames = ['NS_GREEN','NS_YELLOW','ALL_RED','EW_GREEN','EW_YELLOW','ALL_RED'];\nconst phaseIndex = (data.phase !== undefined && data.phase !== null) ? Number(data.phase) : null;\nconst out = {\n    mode: data.mode || 'UNKNOWN',\n    phase: phaseIndex,\n    phase_name: (phaseIndex !== null ? (phaseNames[phaseIndex] || 'UNKNOWN') : 'UNKNOWN'),\n    uptime_s: (data.uptime_s !== undefined ? data.uptime_s : null),\n    since_ms: (data.since_ms !== undefined ? data.since_ms : null),\n    ts_ms: (data.ts_ms !== undefined ? data.ts_ms : null)\n};\nreturn [{ topic: 'state', payload: out }, { payload: data }];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 400,
        "wires": [
            [
                "func.dashboard-store"
            ],
            [
                "func.intersection-svg"
            ]
        ]
    },
    {
        "id": "mqtt.status.in",
        "type": "mqtt in",
        "z": "flow.traffic-dashboard",
        "name": "← status (QoS1 retained)",
        "topic": "city/demo/intersection/001/status",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker.local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "func.parse-status"
            ]
        ]
    },
    {
        "id": "func.parse-status",
        "type": "function",
        "z": "flow.traffic-dashboard",
        "name": "Parse Status -> Dashboard",
        "func": "const data = msg.payload || {};\nmsg.topic = 'status';\nmsg.payload = {\n    online: !!data.online,\n    ts_ms: (data.ts_ms !== undefined ? data.ts_ms : null)\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 340,
        "wires": [
            [
                "func.dashboard-store"
            ]
        ]
    },
    {
        "id": "mqtt.telemetry.in",
        "type": "mqtt in",
        "z": "flow.traffic-dashboard",
        "name": "← telemetry (QoS0)",
        "topic": "city/demo/intersection/001/telemetry",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker.local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 500,
        "wires": [
            [
                "func.parse-telemetry"
            ]
        ]
    },
    {
        "id": "func.parse-telemetry",
        "type": "function",
        "z": "flow.traffic-dashboard",
        "name": "Parse Telemetry -> Dashboard",
        "func": "\nconst d = msg.payload || {};\nconst out = {\n    rssi_dbm: (d.rssi_dbm !== undefined ? d.rssi_dbm : null),\n    heap_free_kb: (d.heap_free_kb !== undefined ? d.heap_free_kb : null),\n    uptime_s: (d.uptime_s !== undefined ? d.uptime_s : null),\n    ts_ms: (d.ts_ms !== undefined ? d.ts_ms : null)\n};\nreturn [\n    { topic: 'telemetry', payload: out },\n    (out.rssi_dbm !== null) ? { payload: out.rssi_dbm, topic: 'RSSI' } : null,\n    (out.heap_free_kb !== null) ? { payload: out.heap_free_kb, topic: 'Heap' } : null\n];\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "func.dashboard-store"
            ],
            [],
            []
        ]
    },
    {
        "id": "mqtt.ack.in",
        "type": "mqtt in",
        "z": "flow.traffic-dashboard",
        "name": "← ack (QoS1)",
        "topic": "city/demo/intersection/001/ack",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker.local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 600,
        "wires": [
            [
                "func.ack-log"
            ]
        ]
    },
    {
        "id": "func.ack-log",
        "type": "function",
        "z": "flow.traffic-dashboard",
        "name": "ACK Log -> Dashboard",
        "func": "\nlet log = flow.get('ack_log') || [];\nlet pending = flow.get('pending_cmds') || {};\nconst d = msg.payload || {};\nconst id = d.cmd_id;\nconst now = Date.now();\nlet rtt = null;\n\nif (id && pending[id]) {\n    rtt = now - pending[id];\n    delete pending[id];\n    flow.set('pending_cmds', pending);\n}\n\nlog.unshift({\n    t: new Date().toLocaleTimeString(),\n    id: (id || '').substring(0, 8),\n    type: d.type || 'ACK',\n    ok: !!d.ok,\n    err: d.err || '',\n    rtt: rtt\n});\nif (log.length > 20) log.pop();\nflow.set('ack_log', log);\n\nreturn [\n    { topic: 'ack_log', payload: log },\n    (rtt !== null) ? { payload: rtt, topic: 'RTT' } : null\n];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 600,
        "wires": [
            [
                "func.dashboard-store"
            ],
            []
        ]
    },
    {
        "id": "func.intersection-svg",
        "type": "function",
        "z": "flow.traffic-dashboard",
        "name": "Build Intersection SVG",
        "func": "const phase = msg.payload.phase;\n// 0:NS_GREEN 1:NS_YELLOW 2:ALL_RED 3:EW_GREEN 4:EW_YELLOW 5:ALL_RED\nconst DIM = { r: '#3a1e1e', y: '#3a321e', g: '#1e3a2e' };\nconst BRIGHT = { r: '#ff2222', y: '#ffbf00', g: '#00ff44' };\n\nconst P = {\n    NS: { r: DIM.r, y: DIM.y, g: DIM.g },\n    EW: { r: DIM.r, y: DIM.y, g: DIM.g }\n};\n\nlet phaseColor = '#475569';\n\nswitch(phase) {\n    case 0: P.NS.g=BRIGHT.g; P.EW.r=BRIGHT.r; phaseColor='#22c55e'; break;\n    case 1: P.NS.y=BRIGHT.y; P.EW.r=BRIGHT.r; phaseColor='#eab308'; break;\n    case 2: P.NS.r=BRIGHT.r; P.EW.r=BRIGHT.r; phaseColor='#ef4444'; break;\n    case 3: P.EW.g=BRIGHT.g; P.NS.r=BRIGHT.r; phaseColor='#22c55e'; break;\n    case 4: P.EW.y=BRIGHT.y; P.NS.r=BRIGHT.r; phaseColor='#eab308'; break;\n    case 5: P.NS.r=BRIGHT.r; P.EW.r=BRIGHT.r; phaseColor='#ef4444'; break;\n    default: P.NS.r=BRIGHT.r; P.EW.r=BRIGHT.r;\n}\n\nconst phaseNames=['NS GREEN','NS YELLOW','ALL RED','EW GREEN','EW YELLOW','ALL RED'];\nconst pName = phaseNames[phase] || 'UNKNOWN';\n\nfunction drawPole(x, y, rot, lights, label) {\n    return `\n    <g transform=\"translate(${x}, ${y}) rotate(${rot})\">\n        <circle cx=\"0\" cy=\"0\" r=\"12\" fill=\"#111\" opacity=\"0.5\" />\n        <rect x=\"-6\" y=\"-10\" width=\"12\" height=\"60\" fill=\"#475569\" rx=\"4\" />\n        <rect x=\"-24\" y=\"40\" width=\"48\" height=\"110\" rx=\"12\" fill=\"#1e293b\" stroke=\"#334155\" stroke-width=\"2\" />\n        <circle cx=\"0\" cy=\"60\" r=\"14\" fill=\"${lights.r}\" filter=\"url(#glow-${lights.r === BRIGHT.r ? 'red' : 'none'})\" />\n        <circle cx=\"0\" cy=\"95\" r=\"14\" fill=\"${lights.y}\" filter=\"url(#glow-${lights.y === BRIGHT.y ? 'yellow' : 'none'})\" />\n        <circle cx=\"0\" cy=\"130\" r=\"14\" fill=\"${lights.g}\" filter=\"url(#glow-${lights.g === BRIGHT.g ? 'green' : 'none'})\" />\n    </g>\n    `;\n}\n\nlet svg = `\n<svg viewBox=\"0 0 800 800\" xmlns=\"http://www.w3.org/2000/svg\" style=\"width:100%; height:100%; max-height:600px; display:block; margin:auto; background: radial-gradient(circle at 50% 50%, #1e293b 0%, #0f172a 100%); border-radius:16px; border:1px solid #334155;\">\n  <defs>\n    <filter id=\"glow-red\" height=\"300%\" width=\"300%\" x=\"-100%\" y=\"-100%\">\n      <feGaussianBlur stdDeviation=\"8\" result=\"coloredBlur\"/>\n      <feMerge><feMergeNode in=\"coloredBlur\"/><feMergeNode in=\"SourceGraphic\"/></feMerge>\n    </filter>\n    <filter id=\"glow-yellow\" height=\"300%\" width=\"300%\" x=\"-100%\" y=\"-100%\">\n      <feGaussianBlur stdDeviation=\"8\" result=\"coloredBlur\"/>\n      <feMerge><feMergeNode in=\"coloredBlur\"/><feMergeNode in=\"SourceGraphic\"/></feMerge>\n    </filter>\n    <filter id=\"glow-green\" height=\"300%\" width=\"300%\" x=\"-100%\" y=\"-100%\">\n      <feGaussianBlur stdDeviation=\"8\" result=\"coloredBlur\"/>\n      <feMerge><feMergeNode in=\"coloredBlur\"/><feMergeNode in=\"SourceGraphic\"/></feMerge>\n    </filter>\n    <filter id=\"glow-none\"><feGaussianBlur stdDeviation=\"0\"/></filter>\n  </defs>\n\n  <rect x=\"0\" y=\"0\" width=\"800\" height=\"800\" fill=\"#0f172a\" />\n  <path d=\"M 250 0 L 550 0 L 550 800 L 250 800 Z\" fill=\"#1e293b\" stroke=\"#334155\" stroke-width=\"2\"/>\n  <path d=\"M 0 250 L 800 250 L 800 550 L 0 550 Z\" fill=\"#1e293b\" stroke=\"#334155\" stroke-width=\"2\"/>\n  <rect x=\"250\" y=\"250\" width=\"300\" height=\"300\" fill=\"#1e293b\" />\n\n  <line x1=\"400\" y1=\"0\" x2=\"400\" y2=\"250\" stroke=\"#f8fafc\" stroke-width=\"4\" stroke-dasharray=\"20 30\" opacity=\"0.3\"/>\n  <line x1=\"400\" y1=\"550\" x2=\"400\" y2=\"800\" stroke=\"#f8fafc\" stroke-width=\"4\" stroke-dasharray=\"20 30\" opacity=\"0.3\"/>\n  <line x1=\"0\" y1=\"400\" x2=\"250\" y2=\"400\" stroke=\"#f8fafc\" stroke-width=\"4\" stroke-dasharray=\"20 30\" opacity=\"0.3\"/>\n  <line x1=\"550\" y1=\"400\" x2=\"800\" y2=\"400\" stroke=\"#f8fafc\" stroke-width=\"4\" stroke-dasharray=\"20 30\" opacity=\"0.3\"/>\n  \n  <rect x=\"250\" y=\"240\" width=\"150\" height=\"10\" fill=\"white\" opacity=\"0.8\" />\n  <rect x=\"400\" y=\"550\" width=\"150\" height=\"10\" fill=\"white\" opacity=\"0.8\" />\n  <rect x=\"240\" y=\"400\" width=\"10\" height=\"150\" fill=\"white\" opacity=\"0.8\" />\n  <rect x=\"550\" y=\"250\" width=\"10\" height=\"150\" fill=\"white\" opacity=\"0.8\" />\n\n  ${drawPole(220, 220, 135, P.NS, 'N')}\n  ${drawPole(580, 580, -45, P.NS, 'S')}\n  ${drawPole(220, 580, 45, P.EW, 'W')}\n  ${drawPole(580, 220, 225, P.EW, 'E')}\n\n  <g transform=\"translate(400, 400)\">\n    <circle r=\"45\" fill=\"#0f172a\" stroke=\"#334155\" stroke-width=\"4\" />\n    <circle r=\"40\" fill=\"none\" stroke=\"${phaseColor}\" stroke-width=\"2\" opacity=\"0.5\">\n        <animate attributeName=\"r\" values=\"40;55;40\" dur=\"2s\" repeatCount=\"indefinite\" />\n        <animate attributeName=\"opacity\" values=\"0.6;0;0.6\" dur=\"2s\" repeatCount=\"indefinite\" />\n    </circle>\n    <text y=\"10\" text-anchor=\"middle\" fill=\"${phaseColor}\" font-family=\"monospace\" font-size=\"28\" font-weight=\"900\" style=\"text-shadow: 0 0 10px ${phaseColor};\">${phase}</text>\n  </g>\n  \n  <text x=\"400\" y=\"760\" text-anchor=\"middle\" fill=\"#94a3b8\" font-size=\"18\" font-weight=\"600\" letter-spacing=\"3\" opacity=\"0.8\">${pName}</text>\n</svg>`;\n\nmsg.topic = 'intersection';\nmsg.payload = svg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Initial state\nconst svg = `<svg viewBox=\"0 0 320 320\" style=\"width:100%;max-width:320px;margin:auto;display:block;\">\n<rect width=\"320\" height=\"320\" fill=\"#0f141e\" rx=\"18\"/>\n<text x=\"160\" y=\"170\" text-anchor=\"middle\" fill=\"#8b96a3\" font-size=\"13\">Waiting for state...</text>\n</svg>`;\nnode.send({ topic: 'intersection', payload: svg });",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "func.dashboard-store",
        "type": "function",
        "z": "flow.traffic-dashboard",
        "name": "Dashboard Store",
        "func": "let dash = flow.get('dashboard') || {\n    status: { online: null, ts_ms: null },\n    state: { mode: null, phase: null, phase_name: null, uptime_s: null, since_ms: null, ts_ms: null },\n    telemetry: { rssi_dbm: null, heap_free_kb: null, uptime_s: null, ts_ms: null },\n    ack_log: [],\n    intersection_svg: '',\n    last_ack: null,\n    display: {}\n};\nif (msg.topic === 'status') {\n    dash.status.online = (msg.payload && msg.payload.online !== undefined) ? !!msg.payload.online : null;\n    dash.status.ts_ms = (msg.payload && msg.payload.ts_ms !== undefined) ? msg.payload.ts_ms : null;\n}\nif (msg.topic === 'state') {\n    dash.state = Object.assign(dash.state, msg.payload || {});\n}\nif (msg.topic === 'telemetry') {\n    dash.telemetry = Object.assign(dash.telemetry, msg.payload || {});\n}\nif (msg.topic === 'ack_log') {\n    dash.ack_log = Array.isArray(msg.payload) ? msg.payload : [];\n}\nif (msg.topic === 'intersection') {\n    dash.intersection_svg = msg.payload || '';\n}\ndash.last_ack = (dash.ack_log && dash.ack_log.length) ? dash.ack_log[0] : null;\nconst statusText = (dash.status.online === null) ? 'WAITING' : (dash.status.online ? 'ONLINE' : 'OFFLINE');\nconst statusClass = (dash.status.online === null) ? 'tl-pill--idle' : (dash.status.online ? 'tl-pill--ok' : 'tl-pill--bad');\nconst statusTime = dash.status.ts_ms ? new Date(dash.status.ts_ms).toLocaleTimeString() : '--';\nconst phaseText = (dash.state.phase !== null && dash.state.phase !== undefined) ? `${dash.state.phase}: ${dash.state.phase_name || 'UNKNOWN'}` : '--';\nconst uptimeText = (dash.state.uptime_s !== null && dash.state.uptime_s !== undefined) ? `${dash.state.uptime_s}s` : '--';\nconst sinceText = (dash.state.since_ms !== null && dash.state.since_ms !== undefined) ? `${dash.state.since_ms}ms` : '--';\nconst stateTime = dash.state.ts_ms ? new Date(dash.state.ts_ms).toLocaleTimeString() : '--';\nconst rssiText = (dash.telemetry.rssi_dbm !== null && dash.telemetry.rssi_dbm !== undefined) ? `${dash.telemetry.rssi_dbm} dBm` : '--';\nconst heapText = (dash.telemetry.heap_free_kb !== null && dash.telemetry.heap_free_kb !== undefined) ? `${dash.telemetry.heap_free_kb} KB` : '--';\ndash.display = {\n    status_text: statusText,\n    status_class: statusClass,\n    status_time: statusTime,\n    mode: dash.state.mode || '--',\n    phase: phaseText,\n    uptime: uptimeText,\n    since: sinceText,\n    state_time: stateTime,\n    rssi: rssiText,\n    heap: heapText\n};\nflow.set('dashboard', dash);\nmsg.payload = dash;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "func.build-ui-cmd",
        "type": "function",
        "z": "flow.traffic-dashboard",
        "name": "Build UI Command",
        "func": "const data = msg.payload || {};\nlet type = data.type;\nif (!type) {\n    if (msg.topic === 'ui/set_mode') type = 'SET_MODE';\n    if (msg.topic === 'ui/set_phase') type = 'SET_PHASE';\n}\nif (type !== 'SET_MODE' && type !== 'SET_PHASE') {\n    return null;\n}\nconst uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n});\nif (type === 'SET_MODE') {\n    const mode = (data.mode || '').toString().toUpperCase() || 'AUTO';\n    msg.payload = JSON.stringify({ cmd_id: uuid, type: 'SET_MODE', mode: mode, ts_ms: Date.now() });\n}\nif (type === 'SET_PHASE') {\n    const phase = (data.phase !== undefined && data.phase !== null) ? Number(data.phase) : 0;\n    msg.payload = JSON.stringify({ cmd_id: uuid, type: 'SET_PHASE', phase: phase, ts_ms: Date.now() });\n}\nmsg.qos = 1;\nmsg.retain = false;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 170,
        "wires": [
            [
                "mqtt.cmd.out",
                "debug.cmd"
            ]
        ]
    }
]